@font-face {
    font-family: 'Lucida Sans Typewriter';
    src: url('LucidaTypewriterRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: black;
    color: white;
    font-family: "Lucida Sans Typewriter", "Lucida Sans", sans-serif;
    font-size: 10pt;
}


#render > span.btn {
    border: solid 1px #aaa;
    margin: 8px 8px 8px 8px;
    padding: 8px 8px 8px 8px;
}

.app {
    width: 100%;
    height: 100%;
    min-height: 400px;
}
#swfDecoder {
    width: 321px;
    height: 201px;
}
#txt {
    height: 96px;
    overflow-y: scroll;
    margin: 8px 8px 8px 8px;
    border: solid 1px #aaa;
}

#ui {
    height: 32px;
    overflow-y: scroll;
}
#render {
    padding-top: 16px;
    margin: 8px 8px 8px 8px;
    border: solid 1px #aaa;
    height: 512px;
    overflow-y: scroll;
    overflow-x: none;
}
#log {
    height: 480px;
    margin: 8px 8px 8px 8px;
    border: solid 1px #111;
}

b {
    font-size: 200%;
    text-align: center;
}

.ascii{
     display: block;
}

#render > span.plain {
    background: black;
    color: white;
    font-family: "Lucida Sans Typewriter", "Lucida Sans", sans-serif;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none;
}
.style0 {
    color: #222;
    background-color: black;
    border-color: #4169E1;
}
.style1 {
    color: #FF0000;
    background-color: black;
}
.style2 {
    color: #FFFF00;
    border-color: #00FFFF;
}
.style3 {
    color: #FFFFFF;
    background-color: black;
    border-color: #00FF00;
    border-right: solid 2px white;
    padding-right: 20px;
    margin-right: 360px;
    text-align: right;
}
.style4 {
    color: #4169E1;
    background-color: black;
    border-left: solid 2px white;
    padding-left: 20px;
    margin-left: 360px;
    text-align: left;
}

.style5 {
    color: #7CFC00;
    background-color: black;
}
div.style5 {
    margin: 50px 50px 50px 50px;
    border: 10px solid white;
}

.style6 {
    color: #fff;
    background-color: red;
}

div.style6 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border: 5px solid white;
    margin: 50px 50px 50px 50px;
}

.style7 {
    color: #fff;
    background-color: green;
}

div.style7 {
    border: 5px solid white;
    margin: 50px 50px 50px 50px;
}

div.style2 {
    background-color: orange;
    text-align: left;
    width: 360px;
    margin-left: 400px;
    margin-right: 0px;
    right: 0px;
    padding: 80px 80px 80px 80px;
}
div.style5 {
    background-color: green;
    text-align: center;
}

#render > hr {
    width: 50%;
    border-width: 1px;
    border-style: dotted;
}