body {
	background: #111;
	color: #F0F0F0;
	font: 10pt monospace;
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
}
span>span {
	color: #008000;
}
textarea, #preview_pane {
	border: #0f0f0f solid 1px;
	background-color: #f0f0f0;
	font: 10pt monospace;
	width: 100%;
	color: #010101;
}
.decoder_contain {
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 100%;
	float: left;
	top: 0;
	border: 1px solid white;
	padding:4px 4px 4px 4px;
	margin:4px 4px 4px 4px;
	
}
#xdecode {
	position: relative;
	width: 100%;
	height: auto;
}
#raw {
	color: #a0a0a0;
	bottom: 0px;
	position: relative;
	width: 100%;
	height: auto;
}
#log {
	font-size: 9pt;
}
input {
	border: #fff solid 1px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 2px;
	color: #008000;
}
.ui-dialog {
	background-color: #A0A0A0;
	border: #101010 solid 1px;
}
.ui-dialog-titlebar {
	background-color: #202020;
	font-weight: bold;
}
.ui-dialog-titlebar-close {
	visibility: hidden;
}
.ui-button {
	color: black;
}
.ui-dialog-buttonpane {
	text-align: right;
}
